* {
    font-family: 'Poppins', sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 0px 50px 0px 50px;
}

.card {
    flex: 0 0 calc(50% - 50px); /* Each item takes ~1/6th of the row minus the gap */
    box-sizing: border-box;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    max-width: 400px;
    max-height: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 300px;
   
}

.bg-image {
    opacity: 50%;
}

.card:hover {
    transform: scale(1.1); /* Slightly enlarge the card */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a stronger shadow */
    z-index: 10; /* Bring the card to the front */
    cursor: pointer;
    filter: brightness(150%);
}

h1 {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.features {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

.features li {
    font-size: 12px; /* Reset to normal size for list items */
    font-weight: normal;
    text-align: left; /* Reset alignment for list items */
}

/* .car-image {
    max-width: 200px;
    align-items: center;
} */

